@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
    margin:0 1rem 0 1rem;
}

#logo-link:hover {
    opacity:0.8;
}
#logo-pic {
    transform:rotate(-90deg)
}
.navbar-container {
    padding:0 1.5rem 0 1.5rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.menu-list {
    list-style:none;
    display:flex;
    gap:1rem;
}
.menu-list-item a {
    text-decoration: none;
    color:black;
}
.menu-list-item a:hover {
    color:gray;
}

.top-section {
    display:flex;
    justify-content: space-around;
    
}

.para-right-part {
    font-size:0.8rem;
}

.top-section {
    width:100%;
    height:70vh;
    background-color:gray;
}

.left-part-container {
    width:50%;
}
.right-part-container {
    width:50%;
}
.bottom-section {
    margin-top:2rem;
}
.goal-cards {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.goal-cards .goal {
    width:350px;
    border-radius:1rem;
    height:250px;
    background-color:red;
}

 #mid-section {
    display:flex;
}

.projets-title {
    text-align:center;
}

.imgs-container {
    display:flex;
    
}

.footer-container {
    display:flex;
    background-color:greenyellow;
 
}
.links-list {
    text-decoration: none;
    list-style: none;
}
.social-links-list {
    display:flex;
    text-decoration: none;
    list-style: none;
}